* {
  box-sizing: border-box;
}
input {
  width: 100%;
  padding: 0.2rem 0.8rem;
}

select{
  padding: 0.2rem 0.8rem;
}

input:focus , select:focus{
  outline: none;
}

.form-container{
  width: 90%;
  margin: 0 auto;
}

.section-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
}

.field-container{
  /* display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px; */
  display: flex;
}

.combine-container{
  display: flex;
}

.error-msg {
  color: red;
}

.submit-btn{
  position: relative;
}

.submit-btn button#submit-btn{
  position: absolute;
  right: 1rem;
  padding: 1rem 1rem;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn button#cancel-btn{
  position: absolute;
  right: 7rem;
  padding: 1rem 1rem;
  border: 1px solid red;
  color: red;
  background-color: none;
  border-radius: 4px;
  cursor: pointer;
}

.govt-id {
  grid-column: 2 / span 2;
}

.govt-id input {
  width: 300px;
}

.label-container{
  padding-right:1rem; 
}

table {
  border-collapse: 1px solid rgb(146, 142, 142);
  width: 80%;
  margin: 3rem auto;
}

th, td {
  text-align: left;
  padding: 8px;
}

.filter-input {
  width: 40%;
  padding: 5px 1rem;
  margin: 2rem 30%;
  font-size: 1rem;
}


